{% extends "base.html" %}

{% block title %}Climbing Route Recommender{% endblock %}

{% block content %}
  <div class="container">
    <h1>Feel free to reach out via any of the channels below!</h1>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/zsnyder21/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/zsnyder21" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
      <li>
        <a href="mailto:zsnyder21@gmail.com" target="_blank" rel="noopener noreferrer">zsnyder21@gmail.com</a>
      </li>
    </ul>
  </div>
{% endblock %}