{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<style>
   body{
     background-image:url('../static/img/Down-Valley.jpg');
     width:100%;

    background-size: cover;
   }

   @media only screen and (max-width: 600px) {
       body {
           background-size: auto;
       }
   }

IMG.homepghovr
    {
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    IMG.homepghovr:hover
    {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
table{

    border:1px solid #000;
    background-color:#b0b0b0;

}

table th{
border:1px solid #000000;
}

table td{
border:1px solid #000000;
}

.main {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 100px;
  padding-bottom: 50px;
}
.main h1 {
  font-size: 5em;
}
.main h2 {
  font-size:3em;
}
.main h3 {
  font-size:2em;
}
.main p {
  font-size:2em;
}

</style>


<div class="overlay"/>

<div class="main">
  <div class="starter-template">
    <div class="container">
      <h2>Recommended Routes Based on your Search Criteria</h2>
      <table border="2" class="dataframe">
        <thead>
          <tr style="text-align: center">
            <th>Route Name</th>
            <th>Area Name</th>
            <th>Difficulty</th>
            <th>Type</th>
            <th>Severity</th>
            <th>Height</th>
            <th>Pitches</th>
            <th>Average Rating</th>
            <th>Rating Count</th>
          </tr>
        </thead>
        <tbody>
        {% for _, route in routes.iterrows() %}
          <tr>
            <td style="text-align: center; width: 400px">
              <a href="{{route['RouteURL']}}" target="_blank" rel="noopener noreferrer">
                <strong>{{route["RouteName"]}}</strong>
              </a>
            </td>
            <td style="text-align: center; width: 400px">
              <a href="{{route['AreaURL']}}" target="_blank" rel="noopener noreferrer">
                <strong>{{route["AreaName"]}}</strong>
              </a>
            </td>
            <td style="text-align: center; width: 100px">{{(route["Difficulty_YDS"] or "") + " " + (route["Difficulty_ADL"] or "")}}</td>
            <td style="text-align: center; width: 250px">{{route["Type"]}}</td>
            <td style="text-align: center; width: 100px">{{route["Severity"] or ""}}</td>
            <td style="text-align: center; width: 100px">{{(route["Height"] or "")|string()|replace(".00", "ft")}}</td>
            <td style="text-align: center; width: 200px">{{route["Pitches"] or ""}}</td>
            <td style="text-align: center; width: 200px">{{route["AverageRating"] or ""}}</td>
            <td style="text-align: center; width: 200px">{{route["VoteCount"] or ""}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}